---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';
import { getTags } from '~/lib/directus';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
const directus_tags = (await getTags()).tags;
const getTag = (slug: string) => directus_tags.find((x) => x.slug == slug);
const english = tags?.map((x) => {
  const directus_tag = getTag(x.slug);
  const translation = directus_tag?.translations.find((x) => x.languages_code.code.startsWith('en'));
  return translation && directus_tag
    ? {
        slug: directus_tag.slug,
        title: translation.title,
      }
    : x;
});
---

{
  english && Array.isArray(english) && (
    <>
      {title !== undefined && (
        <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">
          {title}
        </span>
      )}
      <ul class={className}>
        {english.map((tag) => (
          <li class="bg-gray-100 bg-slate-700 hover:bg-primary inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 font-medium rounded-md">
            {!APP_BLOG?.tag?.isEnabled ? (
              tag.title
            ) : (
              <a
                href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')}
                class="text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200"
              >
                {tag.title}
              </a>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
